{% extends 'base.html' %}

{% block container %}
<h2>Welcome back, Admin</h2>
<h3>You can <a href="{{ url_for('create')}}">create</a>, edit, or delete reservations for the restuarant</h3>
<h3>All Reservations:</h3>
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post" style="font-size: 1em">
            Reservation for {{doc.seat_count}} at {{doc.time}} on {{doc.date}} {{"(Reserved)" if doc.reserved}}
            <br/>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            <br/>
        </p>
    </div>
    {%endfor%}
{% endblock %}