<!DOCTYPE html>
<html>
  <head>
    <title>Make a Reservation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="{{ url_for('home')}}" style="text-decoration: none;">Make a Reservation</a></h1>
        <p>
          <a href="{{ url_for('menu')}}">Restaurant Menu</a>
          <a href="{{ url_for('availability')}}">Reservation Availability</a>
          <a href="{{ url_for('login')}}">Admin Login</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-zmxnina.git"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
