{% extends 'base.html' %}

{% block container %}
<h2>Welcome to Izakaya Nana's Reservation App </h2>
<p>Here is a breakdown of our app's main features:
    <ul>
        <li><a href="{{ url_for('menu')}}">Restaurant Menu</a>: Dive into our expansive menu featuring traditional Izakaya dishes and exclusive beverages before your visit.</li>
        <li><a href="{{ url_for('availability')}}">Reservation Availability</a>: Secure a table at Nana's with real-time availability updates. </li>
        <li><a href="{{ url_for('login')}}">Admin Login</a>: View, edit, and manage all reservations in real-time. This portal is designed exclusively for restaurant staff and management.</li>
    </ul>
</p>
{% endblock %}