{% extends 'base.html' %}

{% block container %}
<h2>Menu</h2>
    
<div class="menu-item">
    <div class="item-title">Maguro Tataki (Appetizer)</div>
    <div class="item-description">Lightly seared bluefin tuna, served with ponzu sauce and garnished with daikon radish and scallions.</div>
</div>

<div class="menu-item">
    <div class="item-title">Sashimi Moriawase</div>
    <div class="item-description">An assortment of the freshest fish of the day, including salmon, tuna, yellowtail, and sweet shrimp, served with wasabi and soy sauce.</div>
</div>

<div class="menu-item">
    <div class="item-title">Chef's Special Nigiri Set</div>
    <div class="item-description">A selection of premium nigiri, including uni (sea urchin), ikura (salmon roe), and toro (fatty tuna).</div>
</div>

<div class="menu-item">
    <div class="item-title">Gindara Misoyaki (Grilled Dish)</div>
    <div class="item-description">Miso-marinated black cod, grilled to perfection.</div>
</div>

<div class="menu-item">
    <div class="item-title">Tempura Moriawase (Fried Dish)</div>
    <div class="item-description">A variety of seafood and vegetables, lightly battered and deep-fried, served with a dipping sauce.</div>
</div>

<div class="menu-item">
    <div class="item-title">Tsukimi Udon (Noodles)</div>
    <div class="item-description">Udon noodles in a rich dashi broth, topped with a poached egg and sliced green onions.</div>
</div>

<div class="menu-item">
    <div class="item-title">Unagi Don (Rice Dish)</div>
    <div class="item-description">Grilled eel served over a bed of rice, drizzled with a sweet soy-based sauce.</div>
</div>

<div class="menu-item">
    <div class="item-title">Miso Soup with Clams (Soup)</div>
    <div class="item-description">Traditional miso soup enhanced with fresh clams and scallion.</div>
</div>

<div class="menu-item">
    <div class="item-title">Matcha Tiramisu (Dessert)</div>
    <div class="item-description">A Japanese twist on the classic Italian dessert, using green tea powder.</div>
</div>

<div class="menu-item" style="border-bottom: none;">
    <div class="item-title">Sake Tasting Flight (Beverage)</div>
    <div class="item-description">A selection of three premium sakes, curated to complement the flavors of the meal.</div>
</div>
{% endblock %}
